@page
@model ConflictRenewal.Pages.Conflicts.IndexModel
@inject UserManager<IdentityUser> UserManager
@using ConflictRenewal.Models
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @if (Model.Conflictview.isAdmin == true)
            {
                <th>
                    Email Id
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.Conflictview.Conflict[0].ConflictDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conflictview.Conflict[0].Question1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conflictview.Conflict[0].Question2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conflictview.Conflict[0].Question3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conflictview.Conflict[0].Question4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conflictview.Conflict[0].Question5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conflictview.Conflict[0].Question6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conflictview.Conflict[0].MostrecentjournalDate)@*Most recent journal*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conflictview.Conflict[0].ConflictStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Conflictview.Conflict)
        {
            <tr>
                @if (item.AdminRole == RoleEnum.Admin.ToString())
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailID)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.ConflictDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Question1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Question2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Question3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Question4)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Question5)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Question6)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MostrecentjournalDate)
                </td>
                <td>
                    @if (item.ConflictStatus == true)
                    {
                        <label>Resolved</label>
                    }
                    else
                    {
                        <label>Unresolved</label>
                    }
                </td>
                <td>
                    @*<a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |*@
                    <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-primary">View</a>
                    @*|<a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
